* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.top-hero {
  display: flex;
  padding: 0 80px;
  align-items: center;
  background-image: url('../images/top-banner.png');
  background-repeat: no-repeat;
}

.top-hero-left {
  margin-top: 80px;
}
.top-hero-left h1 {
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 40px;
}
.top-hero-left h1 span {
  color: orangered;
  text-transform: uppercase;
}

.top-hero-left p {
  margin-top: 20px;
}
.top-hero-left h2 {
  padding-top: 20px;
  font-size: 20px;
  color: gray;
}

.top-hero-left a {
  text-decoration: none;
  color: #fff;
  padding: 8px 18px;
  display: inline-block;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
}
.w-half {
  width: 50%;
}
.top-hero-right {
  text-align: center;
}
.top-hero-right img {
  width: 80%;
}
img {
  width: 80%;
}
.second-hero {
  margin-top: 100px;
  display: flex;
  padding: 0 80px;
  align-items: center;
  background-image: url('../images/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}
.second-hero-left {
}

.second-hero-right {
}
.second-hero-right h1 {
  font-size: 40px;
  text-transform: uppercase;
}

.second-hero-right h2 {
  color: gray;
}
.second-hero-right p {
  padding-top: 20px;
}

.second-hero-right a {
  text-decoration: none;
  color: #fff;
  padding: 8px 18px;
  display: inline-block;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
}
